body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto 20px auto;
  padding: 16px;
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

form button {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


form button[type="submit"]:not(:disabled) {
  background-color: #28a745;
  color: white;
}

form button[type="button"] {
  background-color: #ae3333;
  color: white;
}
